@import "../lib/styles/index";

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-size: normal;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration-line: none;
  color: inherit;
}
$padding-row: 16px;
$padding-column: 8px;
// page
.page-wrapper {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  .header-wrapper {
    border-bottom: 1px solid $warning-color;
    .logo {
      img {
        height: 60px;
      }
    }
  }

  .main-wrappper {
    margin-top: 10px;
    .sider-wrapper {
      width: 200px;
      display: flex;
      flex-direction: column;
      border-right: 1px solid $base-border;

      .sider-list {
        > li {
          padding: $padding-column $padding-row;
          a {
            &:hover, &:active {
              color: $main-color;
            }
          }
        }
      }
    }
    .content-wrapper {
      min-height: 500px;
      padding: 0 $padding-row;
    }
  }
}
