@import "../lib/styles/index";

@mixin base {
  padding: 6px;
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: $main-color;
  font-size: $second-title;
}

.header, .footer {
  @include base;
  height: 60px;
  background: lighten($color: $main-color, $amount: 10%)
}

.sider {
  @include base;
  width: 30%;
  background: lighten($color: $success-color, $amount: 10%)
}

.content {
  @include base;
  background: lighten($color: $main-color, $amount: 5%)
}

.layout {
  margin-top: 10px;
  height: 300px;
  width: 600px;
}

